$primary-Color: #47a3da;
body {
    color: $primary-Color;
}
header {
    .header {
        text-align: center;
        padding-right: 90px;
        padding-top: 90px;
        font-size: 50px;
    }
    .icon {
        padding-right: 200px;
        text-align: center;
        font-size: 80px;
    }
    .button {
        padding-bottom: 190px;
        font-size: 150px;
        margin-top: 70px;
    }
    h1 {
        display: block;
        padding-left: 120px;
        text-align: center;
        font-size: 90px;
        width: 70%;
        margin-top: 20px;
    }
}
section {
    .images {
        text-align: center;
        padding-left: 560px;
        position: absolute;
        margin-top: 90px;
        font-size: 180px;
    }
    .block {
        text-align: center;
    }
    h1 {
        text-align: center;
        padding-right: 90px;
        font-size: 50px;
    }
    p {
        text-align: center;
        padding-right: 90px;
        font-size: 50px;
    }
}
article {
    .images {
        text-align: center;
        padding-left: 560px;
        position: absolute;
        margin-top: 90px;
        font-size: 180px;
    }
    .block {
        text-align: center;
    }
    h1 {
        text-align: center;
        padding-right: 90px;
        font-size: 50px;
    }
    p {
        text-align: center;
        padding-right: 90px;
        font-size: 50px;
    }
}
aside {

  .images {
      text-align: center;
      padding-left: 560px;
      position: absolute;
      margin-top: 90px;
      font-size: 180px;
  }


    h1 {
        text-align: center;
        padding-right: 90px;
        font-size: 50px;
    }
    .block {
        text-align: center;

    }
    p {
        text-align: center;
        padding-right: 90px;
        font-size: 50px;
    }
}
